
  .home-container {
    display: flex;
    max-width: 75vw;
    padding: 3rem;
    align-items: center;
  }
  .home-p {
    padding: 2rem;
    align-items: left;
    max-width: 40vw;
  }
  .home-p2 {
    padding: 2rem 6rem;
    align-items: center;
    display: flex;
    max-width: 95vw;
  }