.container {
    position: fixed;
    text-decoration: none; 
   /* padding: 5px 0 10px 20px; */
   outline: none;
   box-sizing: border-box;
   background: transparent;
   display: center;
   height: 40px;
   /* z-index: 10; */
   color: black;
  }

  h1{
    text-align: center;
  }

  .nav-links {
   text-decoration: none;
   color: black;
   padding: .5rem;
   display: flex;
   align-items: left;
   background: rgba(50,149,242);
   z-index: 10;
 }  
 .container .nav-links {
   padding: .5rem .5rem .3rem .5rem;
   display: grid;
   grid-template-columns: 1fr;
   flex-direction: column;
   margin: 0 0 0 40px;
   z-index: 10;
 } 