.carousel-container {
  height: 0 auto;
  width: 0 auto;
  padding: 20px;
}
.carousel-heading {
  font-size: 24px;
  color: black;
  margin: 10px 0 20px 60px;
}
carousel-container img {
  height: 50vh;
}

/* .gallery-container-box {
  width: 90vw;
  padding: .2rem 0;
  border-radius: 0.5rem;
  margin: 1rem 2.5rem;
  align-items: center;
  display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-column-gap: 1.5rem;
}
.container-box img {
  width: 90%;
  display: block;
}
.photo-gallery {
  text-align: center;
} */
