.blog-container{
    color: black;
    font-size: 18px;
    margin: 1rem;
    width: 90vw;
    height: 300vh;
}
.header-h2 {
    font-size: 24px;
    margin: 80px 0px 10px 60px;
}
.paragraph {
    font-size: 18px;
    margin: 0px 40px 10px 60px;
}