.App {
  text-align: center;
  text-decoration: none;
}

nav {
  text-decoration: none;
  color: black;
  font-size: 18px;
  
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
  color: darkgray; 
  text-decoration: none;
  opacity: 1; /* Firefox */ 
  } 
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: darkgray;
  text-decoration: none; 
  } 
  
  ::-ms-input-placeholder { /* Microsoft Edge */ 
  color: darkgray; 
  text-decoration: none;
  }